<div id="main">
  <div id="logo" ng-click="go2Entr()">Jay</div>

  <nav id="main-nav">
    <a href="mailto:jaebum.yoo@gmail.com">
      <div class="contacts">
        <div class="contact-title">E-MAIL</div>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/jay-yoo" target="_blank">
      <div class="contacts">
        <div class="contact-title">LINKEDIN</div>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </div>
    </a>
    <a target="_blank" href="https://github.com/jaebumyoo" target="_blank">
      <div class="contacts">
        <div class="contact-title">GITHUB</div>
        <i class="fa fa-github" aria-hidden="true"></i>
      </div>
    </a>
    <a href="./assets/JAY_YOO_RESUME.pdf" target="_blank">
      <div class="contacts">
        <div class="contact-title">RESUME</div>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </div>
    </a>
  </nav>

  <div class="page">
    <div class="content-wrapper" id="intro">
      <h2 class="content-title">WHO AM I?</h2>
      <div class="content">
        <p>
          Hi, I'm <span class="content-span" style="color: #FFF7F5">Jay</span>! I'm a passionate software <span style="color: #FFF7F5">developer</span> who strives for perfect code.
          I love learning new technologies and reaching deeper understanding.
          I am a supportive and enthusiastic team player dedicated to streamlining processes and efficiently resolving project issues.
          My long term goal is to be a renowned software developer - someone that every developer would recognize by name.
          I know that is a difficult goal that will take endless dedication and a thirst for <span style="color: #FFF7F5">knowledge</span> , and I'm looking forward to making it come true.
        </p>
      </div>
    </div>

    <div class="web-work">
      <div class="web-info">
        <a target="_blank" href="https://youtu.be/S33G2sO3Yrs"><h1 class="web-info-title" id="post-intro-title">Wayfinder</h1></a>
        <h2 class="web-info-from">@DevMountain</h2>
        <p class="web-info-description">
          It is a multiplayer online game based on the famous table-top game, <span style="font-style: italic;">Dungeons & Dragons</span>.
          I worked on it with 3 other students during my time at DevMountain.<br>
          <br>Passport is used (Facebook strategy) for authentication, and mongoDB for the database.
          Also, Pixi JS was used for the game view rendering.
        </p>
        <ul class="web-info-tech" id="post-intro-tech">
          <li><h1>ANGULAR JS</h1></li>
          <li><h1>CSS</h1></li>
          <li><h1>EXPRESS</h1></li>
          <li><h1>HTML</h1></li>
          <li><h1>JAVASCRIPT</h1></li>
          <li><h1>MONGOOSE</h1></li>
          <li><h1>NODE JS</h1></li>
          <li><h1>PASSPORT</h1></li>
          <li><h1>PIXIE JS</h1></li>
          <li><h1>WEBPACK</h1></li>
        </ul>
      </div>
      <iframe class="web-site" ng-src="https://www.youtube.com/embed/S33G2sO3Yrs"></iframe>
    </div>
  </div>

  <div class="page">
    <div class="content-wrapper" id="skills">
      <h2 class="content-title">SKILLS</h2>
      <ul class="content">
        <li>
          <h1 class="content-list-title" style="font-style: normal">• <span style="color: #EBF7F7;">LANGUAGES</span></h1>
          <p class="content-list-content">C | C++ | CSS | HTML | Java | JavaScript | MATLAB | MIPS</p>
        </li>
        <li>
          <h1 class="content-list-title" style="font-style: normal">• <span style="color: #EBF7F7;">FRAMEWORKS</span></h1>
          <p class="content-list-content">Angular JS | jQuery | Node JS</p>
        </li>
        <li>
          <h1 class="content-list-title" style="font-style: normal">• <span style="color: #EBF7F7;">ADDITIONAL</span></h1>
          <p class="content-list-content">Git | Github | MongoDB | MySQL | RESTful | DSP | Soldering</p>
        </li>
      </ul>
    </div>

    <div class="web-work">
      <div class="web-info">
        <a target="_blank" href="https://github.com/Dev-Mountain/Server-Project"><h1 class="web-info-title" id="post-skills-title">Just Do It</h1></a>
        <h2 class="web-info-from">@DevMountain</h2>
        <p class="web-info-description">
          It is a fitness application that helps the user to setup and follow daily and weekly workout routines.
          <br>A timer tracks the user's preset workout and rest periods, and it follows along with the user's current workout progress.<br>
          <br>Passport is used (Google strategy) for authentication and mongoDB for database.
        </p>
        <ul class="web-info-tech" id="post-skills-tech">
          <li><h1>ANGULAR JS</h1></li>
          <li><h1>CSS</h1></li>
          <li><h1>EXPRESS</h1></li>
          <li><h1>HTML</h1></li>
          <li><h1>JAVASCRIPT</h1></li>
          <li><h1>MONGOOSE</h1></li>
          <li><h1>NODE JS</h1></li>
          <li><h1>PASSPORT</h1></li>
          <li><h1>WEBPACK</h1></li>
        </ul>
      </div>
      <div class="web-site just-do-it">
        <img class="carousel-cell" src="../assets/images/projects/JustDoIt/page1.gif">
        <img class="carousel-cell" src="../assets/images/projects/JustDoIt/page2.gif">
        <img class="carousel-cell" src="../assets/images/projects/JustDoIt/page3.gif">
        <img class="carousel-cell" src="../assets/images/projects/JustDoIt/page4.gif">
        <img class="carousel-cell" src="../assets/images/projects/JustDoIt/page5.gif">
        <img class="carousel-cell" src="../assets/images/projects/JustDoIt/page6.gif">
      </div>
      <!-- <iframe class="web-site" ng-src="{{ myUrl }}"></iframe> -->
    </div>
  </div>

  <div class="page">
    <div class="content-wrapper" id="education">
      <h2 class="content-title">EDUCATION</h2>
      <ul class="content">
        <li>
          <h1 class="content-list-title">• Full Stack <span style="color: #EFF3FD">Web Development</span></h1>
          <p class="content-list-content">DEVMOUNTAIN, Dallas, TX</p>
        </li>
        <li>
          <h1 class="content-list-title">• <span style="color: #EFF3FD;">Master of Science</span>, Electrical Engineering</h1>
          <p class="content-list-content">UNIVERSITY OF CALIFORNIA, Santa Barbara, CA</p>
        </li>
        <li>
          <h1 class="content-list-title">• <span style="color: #EFF3FD;">Bachelor of Science</span>, Electrical Engineering</h1>
          <p class="content-list-content">UNIVERSITY OF CALIFORNIA, Santa Barbara, CA</p>
        </li>
      </ul>
    </div>

    <div class="web-work">
      <div class="web-info">
        <a target="_blank" href="https://devmountain-tracker.herokuapp.com/#/"><h1 class="web-info-title" id="post-education-title">Dev Tracker</h1></a>
        <h2 class="web-info-from">@DevMountain</h2>
        <p class="web-info-description">
          Dev Tracker allows a user to track one's DevMountain curriculum progress.
          <br>It displays the day's work as well as overall course completion status in one view.<br>
          <br>Firebase is used as a database and authentication tool. Also, local storage is utilized to remember stateful information of user input.
        </p>
        <ul class="web-info-tech" id="post-education-tech">
          <li><h1>ANGULAR JS</h1></li>
          <li><h1>CARDFLOW</h1></li>
          <li><h1>CSS</h1></li>
          <li><h1>FIREBASE</h1></li>
          <li><h1>HTML</h1></li>
          <li><h1>JAVASCRIPT</h1></li>
        </ul>
      </div>
      <iframe class="web-site" frameborder="0" ng-src="https://devmountain-tracker.herokuapp.com/#/"></iframe>
    </div>
  </div>

  <div class="page">
    <div class="content-wrapper" id="experience">
      <h2 class="content-title">EXPERIENCE</h2>
      <ul class="content">
        <li>
          <h1 class="content-list-title">• Product Support <span style="color: #FFF7F5">Engineer</span> / Project Manager</h1>
          <p class="content-list-content">SAMSUNG TELECOMMUNICATIONS AMERICA, Richardson, TX ( 2012 - 2016 )</p>
          <p class="content-list-content">- Bronze <span style="color: #FFF7F5">STARR Award</span> ( 2012 )</p>
        </li>
        <li>
          <h1 class="content-list-title">• UNDERGRADUATE / GRADUATE <span style="color: #FFF7F5">RESEARCH</span></h1>
          <p class="content-list-content">UNIVERSITY OF CALIFORNIA, Santa Barbara, CA ( 2008 - 2011 )</p>
        </li>
      </ul>
    </div>

    <div class="web-work">
      <div class="web-info">
        <a target="_blank" href="https://http.cat/"><h1 class="web-info-title" id="post-experience-title">Coming Soon!!!</h1></a>
        <h2 class="web-info-from">@Personal</h2>
        <p class="web-info-description">I am currently working on this project.</p>
        <ul class="web-info-tech" id="post-experience-tech">
        </ul>
      </div>
      <iframe class="web-site" ng-src="https://http.cat/"></iframe>
    </div>
  </div>
</div>
